<!-- 

This HTML file includes an audio element and a script to play background music on a webpage. 
The script selects a random audio file from a predefined list and sets it as the source for the audio element. 
The audio is set to loop indefinitely.

- The `musicFiles` array contains paths to various audio files (some commented out).
- The `audioElement` is retrieved by its ID "backgroundMusic".
- The `playRandomMusic` function selects a random audio file from the `musicFiles` array, sets it as the source for the `audioElement`, and starts playing it in a loop.
- The `playRandomMusic` function is called immediately to start the background music when the script runs.

Created by Prasad Madhuranga @ 2024.05
-->
<audio id="backgroundMusic" loop></audio>
<script>
    // Create by Prasad Madhuranga @ 2024.05
    const musicFiles = [
        // "assets/audio/bgm_installer.ogg",
        // "assets/audio/halo-7.mp3",
        // "assets/audio/Halo_S1_theme.ogg",
        // "assets/audio/PM_GL_BGM1.ogg",
        "../assets/audio/PM_GL_MM1.ogg"
        // "assets/audio/PM_LP_MSC1-BB.ogg",
        // "assets/audio/PM_LP_MSC1.ogg",
        // "assets/audio/Remix-music-web1.ogg"
    ];
    const audioElement = document.getElementById("backgroundMusic");
    function playRandomMusic() {
        const randomIndex = Math.floor(Math.random() * musicFiles.length);
        const randomSource = musicFiles[randomIndex];
        audioElement.src = randomSource;
        audioElement.loop = true;
        audioElement.play();
    }
    playRandomMusic();
</script>