<header class="ui menu asc4">
    <div class="ui pointing dropdown link item">
        <img src="/assets/img/webp/pm.webp" style="height: 2.5rem; width: auto" />
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" onclick="window.location.href='/profile'">
                <i class="user secret icon"></i>Profile
            </div>
            <div class="header">
                <i class="loading life ring icon"></i>Social Media
            </div>
            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text"><img class="icon" src="/assets/img/svg/meta.svg" style="height: 1rem" />Meta</span>
                <div class="menu">
                    <!-- <div class="header">Mens</div> -->
                    <div class="item" onclick="window.open('https://www.facebook.com/prasad.madhuranga.kmd', '_blank')">
                        <img class="icon" src="/assets/img/svg/facebook.svg" style="height: 1rem" />Facebook
                        (Profile)
                    </div>
                    <div class="item" onclick="window.open('https://www.facebook.com/prasad.senavi/', '_blank')">
                        <img class="icon" src="/assets/img/svg/facebook2.svg" style="height: 1rem" />Facebook
                        (Page)
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text"><img class="icon" src="/assets/img/svg/google.svg"
                        style="height: 1rem" />Google</span>
                <div class="menu">
                    <!-- <div class="header">Mens</div> -->
                    <div class="item" onclick="window.open('mailto:prasadmadhuranga2001@gmail.com', '_blank')">
                        <img class="icon" src="/assets/img/svg/gmail.svg" style="height: 1rem" />Gmail
                    </div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text"><img src="/assets/img/svg/youtube.svg" alt="" class="icon"
                                style="height: 1rem" />YouTube</span>
                        <div class="menu">
                            <div class="item" onclick="window.open('https://www.youtube.com/@prasadkmd', '_blank')">
                                <img class="icon"
                                    src="https://yt3.googleusercontent.com/ytc/AIdro_mZnAaAQbLMZUDb4pdRFZNWDDUL3pQ6P31CL21-xGmBScY=s176-c-k-c0x00ffffff-no-rj-mo"
                                    style="height: 1rem" />Prasad Madhuranga
                            </div>
                            <div class="item"
                                onclick="window.open('https://www.youtube.com/@sinhagirivisualstudio', '_blank')">
                                <img class="icon"
                                    src="https://yt3.googleusercontent.com/RjXGtDePLqZWNhd35k9jMvFqmHyPaKXNZv9JhNhlMdy8MtE45n2Xff14iSfQwtxbsotrMk_E=s176-c-k-c0x00ffffff-no-rj-mo"
                                    style="height: 1rem" />Sinhagiri Visual Studio
                            </div>
                        </div>
                    </div>
                    <div class="item"
                        onclick="window.open('https://draft.blogger.com/profile/04251048102957843646', '_blank')">
                        <img class="icon" src="/assets/img/svg/blogger.svg" style="height: 1rem" />Blogger
                    </div>
                    <div class="item" onclick="window.open('https://maps.app.goo.gl/TULghYW9Ta8Tn3Jd9', '_blank')">
                        <img class="icon" src="/assets/img/svg/google_maps.svg" style="height: 1rem" />Maps
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text"><img class="icon" src="/assets/img/svg/telegram_app.svg"
                        style="height: 1rem" />Telegram</span>
                <div class="menu">
                    <!-- <div class="header">Mens</div> -->
                    <div class="item" onclick="window.open('https://t.me/prasadmadhuranga', '_blank')">
                        <img class="icon" src="/assets/img/svg/telegram_app.svg" style="height: 1rem" />Prasad
                        Madhuranga
                        (Profile)
                    </div>
                    <div class="item" onclick="window.open('https://t.me/prasad_kmd', '_blank')">
                        <img class="icon" src="/assets/img/svg/telegram_app.svg" style="height: 1rem" />Prasad
                        Madhuranga
                        (Channel)
                    </div>
                    <div class="item" onclick="window.open('https://t.me/sinhagiri_visual_studio', '_blank')">
                        <img class="icon" src="/assets/img/svg/telegram_app.svg" style="height: 1rem" />Sinhagiri
                        Visual Studio
                        (Channel)
                    </div>
                </div>
            </div>
            <div class="item" onclick="window.open('https://linkedin.com/in/prasad-madhuranga', '_blank')">
                <img class="icon" src="/assets/img/svg/linkedin.svg" style="height: 1rem" />LinkedIn
            </div>
            <div class="item" onclick="window.open('https://github.com/Prasad-kmd', '_blank')">
                <img class="icon" src="/assets/img/svg/github.svg" style="height: 1rem" />Github
            </div>
            <div class="item" onclick="window.open('https://medium.com/@prasadmadhuranga', '_blank')">
                <img class="icon" src="/assets/img/svg/medium.svg" style="height: 1rem" />Medium
            </div>

            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text"><i class="loading sync icon"></i> More</span>
                <div class="menu">
                    <!-- <div class="header">Mens</div> -->
                    <div class="item" onclick="window.open('https://www.reddit.com/u/prasad-kmd', '_blank')">
                        <img class="icon" src="/assets/img/svg/reddit.svg" style="height: 1rem" />Reddit
                    </div>
                    <div class="item" onclick="window.open('https://twitter.com/Prasadmadhuran1', '_blank')">
                        <img class="icon" src="/assets/img/svg/twitter_circled.svg" style="height: 1rem" />Twitter
                    </div>
                    <div class="item"
                        onclick="window.open('https://www.researchgate.net/profile/Prasad-Madhuranga', '_blank')">
                        <img class="icon" src="/assets/img/svg/researchgate.svg" style="height: 1rem" />ResearchGate
                    </div>
                    <div class="item" onclick="window.open('https://deviantart.com/prasadkmd', '_blank')">
                        <img class="icon" src="/assets/img/svg/deviantart.svg" style="height: 1rem" />DeviantArt
                    </div>
                </div>
            </div>

            <!-- <div class="divider"></div>
            <div class="header">Order</div>
            <div class="item">Status</div>
            <div class="item">Cancellations</div> -->
        </div>
        <script>
            $(document).ready(function () {
                $(".ui.dropdown").dropdown({
                    on: "hover",
                });
            });
        </script>
    </div>
    <div class="header item">Prasad Madhuranga</div>
    <!-- Hamburger Menu (Mobile) -->
    <a class="item right mobile only" id="mobileMenuToggle">
        <i class="loading compass icon"></i>
    </a>
    <!-- Main Menu (Desktop and initially hidden for mobile) -->
    <div class="right menu desktop only" id="mainMenu">
        <div class="ui pointing dropdown link item">
            <span class="text">Features</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="header">Site</div>
                <div class="item" onclick="window.location.href='/'">Home</div>
                <div class="item" onclick="window.location.href='/portfolio'">Portfolio</div>
                <div class="item" onclick="window.location.href='/blog'">Blog</div>
            </div>
        </div>
        <a class="item" id="showModalButton"><i class="asterisk loading icon"></i>Refresh</a>
        <div class="ui modal">
            <div class="header">Confirm Refreshing</div>
            <div class="content">
                <p>Do you really want to refresh current page ?</p>
            </div>
            <div class="actions">
                <div class="ui button">Absolutely NO!</div>
                <div class="ui primary button" id="refreshButton">Yes REFRESH!</div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#showModalButton').click(function () {
                    $('.ui.modal')
                        .modal('setting', 'transition', 'fade up') // Set fade up transition
                        .modal('show');
                });

                $('.ui.modal .actions .ui.button').click(function () {
                    $('.ui.modal').modal('hide'); // Close the modal on any button click
                });

                // Prevent closing the modal on click outside or escape
                $('.ui.modal').modal({
                    closable: false, // Disable closing by clicking outside or pressing Escape
                    onDeny: function () {
                        return false; // Prevent closing on Cancel button
                    }
                });

                $('#refreshButton').click(function () {
                    location.reload(); // Refresh the page
                });
            });
        </script>
        <a class="item" id="hoverButton">Help</a>
        <script>
            $(document).ready(function () {
                $('#hoverButton').popup({
                    inline: true, // Display the popup inline
                    on: 'hover', // Show popup on hover
                    position: 'bottom center', // Position the popup above the button
                    title: 'Coming Soon ...', // Set the title of the popup
                    transition: 'fade up', // Add vertical flip transition
                    content: 'We\'re still updating. Please check back later.', // Set the content of the popup
                });
            });
        </script>
    </div>
    <!-- Mobile Menu (Initially Hidden) -->
    <div class="ui pointing vertical menu mobile only mobile-menu" id="mobileDropdownMenu">
        <span class="text">Shopping</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Categories</div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Clothing</span>
        <div class="menu">
          <div class="header">Mens</div>
          <div class="item">Shirts</div>
          <div class="item">Pants</div>
          <div class="item">Jeans</div>
          <div class="item">Shoes</div>
          <div class="divider"></div>
          <div class="header">Womens</div>
          <div class="item">Dresses</div>
          <div class="item">Shoes</div>
          <div class="item">Bags</div>
        </div>
      </div>
      <div class="item">Home Goods</div>
      <div class="item">Bedroom</div>
      <div class="divider"></div>
      <div class="header">Order</div>
      <div class="item">Status</div>
      <div class="item">Cancellations</div>
    </div>
        <!-- <a class="item" onclick="window.location.href='/'">Home</a>
        <a class="item" onclick="window.location.href='/portfolio'">Portfolio</a>
        <a class="item" onclick="window.location.href='/blog'">Blog</a> -->
    </div>
    <script>
        const mobileMenuToggle = document.getElementById("mobileMenuToggle");
        const mobileDropdownMenu = document.getElementById("mobileDropdownMenu");

        mobileMenuToggle.addEventListener("click", function () {
            mobileDropdownMenu.classList.toggle("mobile-menu-active");
        });
    </script>
</header>
<style>
    /* Mobile Menu Styles (Initially Hidden) */
    #mobileDropdownMenu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        /* width: 100%; */
        background-color: #fff;
        /* Or whatever your background color is */
        z-index: 100;
        /* padding: 10px; */
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, .25);
        transform: translateY(-10px);
        /* Initial position above the nav */
        opacity: 0;
        transition: all 0.3s ease;
    }

    #mobileDropdownMenu.mobile-menu-active {
        display: block !important;
        opacity: 1;
        transform: translateY(0);
    }

    /* Show Hamburger Icon on Mobile, Hide on Desktop */
    .mobile.only {
        display: block !important;
    }

    .desktop.only {
        display: none !important;
    }

    /* Desktop Styles (Override Mobile styles above a certain screen width) */
    @media (min-width: 768px) {
        .mobile.only {
            display: none !important;
        }

        .desktop.only {
            display: block !important;
        }

        #mainMenu {
            display: flex !important;
            /* display in horizontal style */
            position: static;
            width: auto;
            padding: 0px;
            box-shadow: none;
        }
    }
</style>